$record-height: 22px;
$record-distance: $record-height * 1.55;
$record-font-size: 14px;

body {
  background: #222;
  font-size: .8em;
}

#app-title {
  position: fixed;
  font-size: 2.3em;
  color: #f6faff;
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  margin: .2em 0 0 .4em;

  .symbol {
    font-size: 1.4em;
  }
}


//color-set
#graph-wrapper {
  background: #262626;
}


#records-wrapper {
  color: white;

  //withdrawal-deposit colorset
  .monthly-summary {

    &.withdrawal {
      .amount {
      }
    }

    &.deposit {
      .amount {
      }
    }
  }

  //day colorset
  .daily-summary-list {
    &.sat {
      .date-wrap {
      }

      .date {
      }
    }

    &.sun {
      .date-wrap {
      }

      .date {
      }
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  width: fit-content;
  //overflow: hidden;
}

#graph-wrapper {
  height: 700px;
}

#records-wrapper {
  // record structure
  .record-list {
    display: flex;

    .record {
      transform: rotate(38deg);
      transform-origin: $record-height/2 $record-height/2;
      width: $record-distance;

      dl {
        box-shadow: 0 0 12px -5px black;
        box-sizing: border-box;
        height: $record-height;
        font-size: $record-font-size;
        line-height: 1em;
        padding: ($record-height - $record-font-size) / 2;
        width: $record-height*10;

        dt {
          display: none;
        }

        dd {
          &.amount {
          }

          &.content {
            display: none;
          }
        }
      }
    }
  }

  .monthly-summary-list {
    display: flex;

    .monthly-summary {
      position: relative;

      .month-wrap {
        background: cadetblue;
        position: absolute;
        top: -150px;

        .month {
          font-size: 3em;
          color: red;
        }

        .amount {
          color: aqua;
        }
      }

      .daily-summary-list {
        display: flex;

        .daily-summary {

          .date-wrap {
            background: cadetblue;
            position: absolute;
            top: -50px;
          }

          .daily-summary-content {
            z-index: 2;
            dl {
              background: rgb(105, 114, 255);
            }
          }

          .record-list{
            z-index: 1;
            .record-item {
              opacity: 1;
              margin-left: 0;
              transition: margin-left .3s, opacity 0s;
              dl {
                background: rgb(255, 127, 80);
              }
            }
          }

          &.collapsed{
            .record-item {
              margin-left: -$record-distance;
              transition: margin-left .3s, opacity 0s .3s;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
