.record-list {
  white-space: nowrap;
  height: 16em;

  li {
    display: inline-block;
    width: 2.5em;
    transform: rotate(38deg) translate(-0.3em, -0.8em);

    &.bank-account {
      &.withdrawal .amount {
        background: #ffa28a;
      }

      &.deposit .amount {
        background: #baff57;
      }
    }

    &.credit-card .amount {
        background: #65ffee;
    }

    dl{
      line-height: 1em;
      display: flex;
      float:left;
      border-bottom: solid 1px black;

      &:after{
        content: '';
        display: block;
        clear: both;
      }

      dt {
        display: none;
      }

      dd {
        vertical-align: bottom;
        padding: .3em;

        &.amount {
          width: 9em;
          padding-left: 1em;
          padding-right: .2em;
          position: relative;
          font-weight: bold;
        }

        &.content {
          position: relative;

          &:before{
            content: '';
            width: 0;
            height: 0;
            border-bottom: solid 1.6em white;
            border-left: solid 2.05em transparent;
            position: absolute;
            top: 0;
            left: -2.05em;
            margin-left: 1.5px;
          }
        }
      }
    }
  }
}